.btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 30px auto;
}
.grp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
  margin-bottom: 40px;
}
